
/* productos */
.grid__tee{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 500px;
    background-position: center;
    gap: 10px;
    
}
.gridtee__img{
    background-image: url("../recursos/tee.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}
.gridtee__txt{
    text-align:start
}



#formulario {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
